/.vs
/JomarHealthCare.Repository/obj
/JomarHealthCare.API/bin
/JomarHealthCare.API/Logs
/JomarHealthCare.API/obj
/JomarHealthCare.Application/obj
/.vs
/JomarHealthCare.API/obj
*.v2
.vs/ProjectEvaluation/jomarhealthcare.strings.v9.bin
*.bin
/.vs/ProjectEvaluation
/.vs/ProjectEvaluation
/.vs/JomarHealthCare/v17
/.vs
/bin
/JomarHealthCare.API/bin
/JomarHealthCare.API/obj
/obj
/JomarHealthCare.Infrastructure/obj
/JomarHealthCare.Domain/obj
/JomarHealthCare.Application/obj
